version: "3.9"

services:
  app:
    image: ghcr.io/${USER}/techstudyfinder:latest
    container_name: techstudyfinder
    restart: unless-stopped
    ports:
      - "5001:5001"
    env_file:
      - .env
