.card {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  width: 100%;
  height: 50%;
}

.question {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  margin-left: 2rem;
}

.option input {
  display: none;
}

.radiobutton {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 9px;
  border: 1px gray solid;
}

.active {
  background: #0177fd;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  border: 1px #0177fd solid;
  transform: translateY(-2px) scale(1.05);
}

@keyframes pulsate {
  0% {
    transform: translateY(-2px) scale(1.05);
  }
  50% {
    transform: translateY(-2px) scale(1.2);
  }
  100% {
    transform: translateY(-2px) scale(1.05);
  }
}

.puls {
  animation: pulsate 0.8s ease-in-out;
}
