.menu-icon {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--gi-blau);
    color: var(--weiß);
    padding: 10px;
    border-radius: 50%;
    z-index: 1000;

}

.modal {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background-color: var(--weiß);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 250px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Close Button */
.close-btn {
    background: none;
    border: none;
    font-size: 30px;
    color: var(--dunkelgrau);
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal-content ul {
    list-style: none;
    padding: 0;
}
.modal-content ul li {
    margin: 10px 0;
}
.modal-content ul li a {
    text-decoration: none;
    color: var(--gi-blau);
    font-weight: bold;
    font-size: 18px;
}
.modal-content ul li a:hover {
    color: var(--hellblau);
}
.App-logo {
    height: 40vmin;
    pointer-events: none;
    margin-bottom: 20px;
}

.btn-primary{
    background-color: var(--gi-blau);
    color: var(--weiß);
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}
.btn-primary:hover{
    background-color: var(--hellblau);
}

