.homescreen-container {
    background-color: #f1e1ff; /* Pastellfarbe f端r den Hintergrund */
    min-height: 100vh; /* Stellt sicher, dass die Seite immer den gesamten Bildschirm einnimmt */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Der Inhalt wird oben ausgerichtet */
    align-items: center;
    text-align: center;
    padding: 20px;
}

/* Titel des Homescreens */
.title {
    font-size: 4rem;
    font-weight: bold;
    color: #2E2E2E; /* Dunkelgrau f端r den Titel */
   /* margin-top: 40px;*/
    margin-bottom: 30px;
}

/* Untertitel */
.subtitle {
    font-size: 1.2rem;
    color: #2E2E2E;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* Info-Text 端ber das Quiz */
.info-text {
    max-width: 500px;
    margin: 20px;
    font-size: 1rem;
    color: #333;
    margin-bottom: 60px;
}

/* F端r die mobile Ansicht, wenn der Button kleiner werden soll */
@media (max-width: 600px) {
    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1rem;
    }

    .quiz-button {
        padding: 10px 20px;
    }
}
