.homescreen-container {
    background: linear-gradient(135deg, #f1e1ff, #ccfbff, #f6d5f7);
    min-height: 100vh; /* Ensures that the page always takes up the entire screen */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;/* The content is aligned at the top */
    align-items: center;
    text-align: center;
    padding: 20px;
}


.title {
    font-size: 4rem;
    font-weight: bold;
    color: #2E2E2E;
   /* margin-top: 40px;*/
    margin-bottom: 30px;
}


.subtitle {
    font-size: 1.2rem;
    color: #2E2E2E;
    margin-top: 20px;
    margin-bottom: 40px;
}


.info-text {
    max-width: 500px;
    margin: 20px;
    font-size: 1rem;
    color: #333;
    margin-bottom: 60px;
}

/* for the mobile view */
@media (max-width: 600px) {
    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1rem;
    }

    .quiz-button {
        padding: 10px 20px;
    }
}
