.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
  height: 100vh;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.middle {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}