html, body, #root {
  overflow: hidden;
}

.homescreen-container {
  width: 100%;
  height: 100vh;
  display: block;
  text-align: center;
  flex-direction: column;
}

.text-content {
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
}

.title {
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.info-text {
  font-size: 1rem;
  margin-bottom: 40px;
}
