.custom-button {
    background-color: #f7f7f7; /* Gray background color */
    color: #2E2E2E; /* Dark gray text color */
    font-family: 'Poppins', sans-serif; /* Font style */
    border-radius: 20px; /* Rounded corners */
    padding: 10px 20px; /* Padding inside the button */
    border: 1px solid #ddd; /* Light gray border */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    cursor: pointer; /* Indicates the button is clickable */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adding shadow to the button */
}

.custom-button:hover {
    background-color: #b9a5ff; /* Background color when hovering */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Darker and stronger shadow on hover */
}
