name: Docker Deploy

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/techstudyfinder:latest .
          docker push ghcr.io/${{ github.repository_owner }}/techstudyfinder:latest

      - name: Deploy on Server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            set -e

            cd "${{ secrets.SERVER_DEPLOY_PATH }}"

            echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io \
              -u "${{ github.actor }}" \
              --password-stdin

            docker compose pull
            docker compose up -d
